@import '~@angular/material/theming';

.notifications {
    display: flex;
    flex-wrap: wrap;

    mat-card {
        flex: 1 1 auto;
        margin: 0.5rem 1rem 0.5rem 0;
        @include mat-elevation(8);
    }
}

.reminders {
    width: 100%;
}