@import '~@angular/material/theming';

h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
}

.header-with-button{
    margin: 1.5rem 0 0 0;

    display: flex;
    justify-content: space-between;

    h2 {
        margin: 0
    }
}

.notifications {
    padding: 0;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    row-gap: 1em;
    column-gap: 1em;


    mat-card {
        @include mat-elevation(8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        mat-card-title {
            font-size: 1.5em;
        }

        .buttons {
            display: flex;
            justify-content: end;
        }
    }
}

.reminders-container{
    width:100%;
    overflow: auto;
}

.reminders {
    width: 100%;
    min-width: 50em;

    th, td {
        text-align: center;
    }

    .txt-aln-left {
        text-align: left;
    }

    td:not(:last-child) {
        border-right: 1px solid #e0e0e0;
    }

    .mat-table-sticky {
        // to let slide toggle dissappear under sticky column
        z-index: 2 !important;
    }

    .name-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        mat-icon {
            cursor: pointer;
        }
    }
}
