<h2>Reminder Notifications</h2>
<ul class="notifications">
    <ng-container *ngFor="let reminder of getRemindersAwaitingAcknowledgement()">
        <mat-card class="notification">
            <div class="content"></div>
            <mat-card-title>{{reminder.name}}</mat-card-title>
            <mat-card-subtitle>
                <span>{{reminder.descriptionOfRepeatBehavior()}}</span>
                <br>
                <span>last Reminder was {{reminder.secondsSince}} seconds ago</span>
                <ng-container *ngIf="reminder.autoAkng">
                    <br>
                    <span>auto-acknowledging in {{reminder.secondsTillAutoAkng}} seconds</span>
                </ng-container>
            </mat-card-subtitle>
            <div class="buttons">
                <button mat-stroked-button color="basic" (click)="reminder.acknowledge()">Acknowledge</button>
            </div>
        </mat-card>
    </ng-container>
</ul>

<div class="reminders-table-heading">
    <h2>Manage Reminders</h2>
    <button (click)="createNewReminder()" mat-raised-button color="primary">Create New Reminder</button>
</div>
<table class="reminders" mat-table [dataSource]="remindersTableData">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.name}}</td>
    </ng-container>

    <ng-container matColumnDef="timeoutDuration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.timeoutDuration | duration}}</td>
    </ng-container>

    <ng-container matColumnDef="waitForAkng">
        <th mat-header-cell *matHeaderCellDef>Wait for Akng</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.waitForAkng ? "Yes" : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="autoAkng">
        <th mat-header-cell *matHeaderCellDef>Auto Akng</th>
        <td mat-cell *matCellDef="let reminder">
            {{reminder.autoAkng ? (reminder.autoAkngTimeoutDuration | duration) : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="secondsSince">
        <th mat-header-cell *matHeaderCellDef>Last Notify</th>
        <td mat-cell *matCellDef="let reminder">
            {{reminder.isActive() ? (reminder.secondsSince | duration) : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="secondsLeft">
        <th mat-header-cell *matHeaderCellDef>Next Notify</th>
        <td mat-cell *matCellDef="let reminder">
            {{reminder.isActive() ? (reminder.secondsLeft | duration) : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="secondsTillAutoAkng">
        <th mat-header-cell *matHeaderCellDef>Auto Akng</th>
        <td mat-cell *matCellDef="let reminder">
            {{reminder.isActive() ? (reminder.secondsTillAutoAkng | duration) : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let reminder">
            <mat-slide-toggle [checked]="reminder.isActive()" (change)="activeToggled(reminder)"></mat-slide-toggle>
        </td>
    </ng-container>

    <ng-container matColumnDef="config">
        <th mat-header-cell *matHeaderCellDef>Config</th>
        <td mat-cell *matCellDef="let reminder">
            <mat-icon aria-hidden="false" aria-label="Configure Reminder" (click)="configureReminder(reminder)">settings
            </mat-icon>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="remindersTableColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: remindersTableColumns"></tr>
</table>


<!-- <h2>Active Reminders</h2>
<ng-container *ngFor=" let reminder of getActiveReminders()">
    <div>
        <span>"{{reminder.name}}"</span>
        &nbsp;
        <span>{{reminder.descriptionOfRepeatBehavior()}}</span>
        <br>
        <span>Next reminder in {{reminder.secondsLeft}} seconds</span>
        <ng-container *ngIf="reminder.hasTimedOutBefore()">
            <br>
            <span>Last reminder was {{reminder.secondsSince}} seconds ago</span>
        </ng-container>
        <ng-container *ngIf="reminder.autoAkng && reminder.secondsTillAutoAkng">
            <br>
            <span>Will auto acknowledge in {{reminder.secondsTillAutoAkng}} seconds</span>
        </ng-container>
        <br>
        <button mat-stroked-button color="basic"
            (click)="reminder.toggleActivation()">{{reminder.isActive() ? 'Deactivate' : 'Activate'}}</button>
        <button mat-stroked-button color="warn" (click)="deleteReminder(reminder)">Delete</button>

    </div>
</ng-container>

<h2>Inactive Reminders</h2>
<ng-container *ngFor="let reminder of getInactiveReminders()">
    <div>
        <span>"{{reminder.name}}"</span>
        &nbsp;
        <span>{{reminder.descriptionOfRepeatBehavior()}}</span>
        &nbsp;
        <button mat-stroked-button color="basic"
            (click)="reminder.toggleActivation()">{{reminder.isActive() ? 'Deactivate' : 'Activate'}}</button>
        <button mat-stroked-button color="warn" (click)="deleteReminder(reminder)">Delete</button>

    </div>
</ng-container> -->

<!-- <h2>Create a new Reminder</h2>
<form #createReminderForm="ngForm" (submit)="createReminder()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Stand up and stretch!" name="name" [(ngModel)]="newReminder.name">
    </mat-form-field>
    <br>
    <app-duration-picker [durationInSeconds]="newReminder.timeoutDuration"
        (durationInSecondsChange)="newReminder.timeoutDuration = $event">
    </app-duration-picker>
    <br>
    <mat-checkbox name="visualNotification" [(ngModel)]="newReminder.visualNotification">Visual Notification
    </mat-checkbox>
    <br>
    <mat-checkbox name="audioNotification" [(ngModel)]="newReminder.audioNotification">Audio Notification
    </mat-checkbox>
    <br>
    <mat-checkbox name="consoleNotification" [(ngModel)]="newReminder.consoleNotification">Console Notification
    </mat-checkbox>
    <br>
    <mat-checkbox name="waitForAkng" [(ngModel)]="newReminder.waitForAkng">Wait For Acknowledgement
    </mat-checkbox>
    <br>
    <mat-checkbox name="autoAkng" [(ngModel)]="newReminder.autoAkng">Auto Acknowledge
    </mat-checkbox>
    <br>
    <mat-form-field *ngIf="newReminder.autoAkng">
        <mat-label>Auto Acknowledgement Timeout Duration</mat-label>
        <input matInput type="number" name="autoAkngTimeoutDuration" min="1"
            [(ngModel)]="newReminder.autoAkngTimeoutDuration">
    </mat-form-field>
    <br>
    <button mat-stroked-button color="primary">Create</button>
</form> -->