<h2>Awaiting Acknowledgement</h2>
<ng-container *ngFor="let reminder of getRemindersAwaitingAcknowledgement()">
    <div>
        <span>"{{reminder.message}}"</span>
        &nbsp;
        <span>{{reminder.descriptionOfRepeatBehavior()}}</span>
        &nbsp;
        <button mat-stroked-button color="basic" (click)="reminder.acknowledge()">Acknowledge</button>
    </div>
</ng-container>

<h2>Active Reminders</h2>
<ng-container *ngFor="let reminder of getActiveReminders()">
    <div>
        <span>"{{reminder.message}}"</span>
        &nbsp;
        <span>{{reminder.descriptionOfRepeatBehavior()}}</span>
        &nbsp;
        <span>Next reminder in {{reminder.secondsLeft}} seconds</span>
        &nbsp;
        <button mat-stroked-button color="basic"
            (click)="reminder.toggleActivation()">{{reminder.isActive() ? 'Deactivate' : 'Activate'}}</button>
        <button mat-stroked-button color="warn" (click)="deleteReminder(reminder)">Delete</button>

    </div>
</ng-container>

<h2>Inactive Reminders</h2>
<ng-container *ngFor="let reminder of getInactiveReminders()">
    <div>
        <span>"{{reminder.message}}"</span>
        &nbsp;
        <span>{{reminder.descriptionOfRepeatBehavior()}}</span>
        &nbsp;
        <button mat-stroked-button color="basic"
            (click)="reminder.toggleActivation()">{{reminder.isActive() ? 'Deactivate' : 'Activate'}}</button>
        <button mat-stroked-button color="warn" (click)="deleteReminder(reminder)">Delete</button>

    </div>
</ng-container>

<h2>Create a new Reminder</h2>
<form #createReminderForm="ngForm" (submit)="createReminder()">
    <mat-form-field>
        <mat-label>Message</mat-label>
        <input matInput placeholder="Ex. Stand up and stretch!" name="message" [(ngModel)]="newReminder.message">
    </mat-form-field>
    <br>
    <app-duration-picker [durationInSeconds]="newReminder.timeoutDuration"
        (durationInSecondsChange)="newReminder.timeoutDuration = $event">
    </app-duration-picker>
    <br>
    <mat-checkbox name="visualNotification" [(ngModel)]="newReminder.visualNotification">Visual Notification
    </mat-checkbox>
    <br>
    <mat-checkbox name="audioNotification" [(ngModel)]="newReminder.audioNotification">Audio Notification
    </mat-checkbox>
    <br>
    <mat-checkbox name="consoleNotification" [(ngModel)]="newReminder.consoleNotification">Console Notification
    </mat-checkbox>
    <br>
    <mat-checkbox name="waitForAkng" [(ngModel)]="newReminder.waitForAkng">Wait For Acknowledgement
    </mat-checkbox>
    <br>
    <mat-checkbox name="autoAkng" [(ngModel)]="newReminder.autoAkng">Auto Acknowledge
    </mat-checkbox>
    <br>
    <mat-form-field *ngIf="newReminder.autoAkng">
        <mat-label>Auto Acknowledgement Timeout Duration</mat-label>
        <input matInput type="number" name="autoAkngTimeoutDuration" min="1"
            [(ngModel)]="newReminder.autoAkngTimeoutDuration">
    </mat-form-field>
    <br>
    <button mat-stroked-button color="primary">Create</button>
</form>