@import '~@angular/material/theming';

.notifications {
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    row-gap: 1em;
    column-gap: 1em;


    mat-card {
        @include mat-elevation(8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content {

        }

        .buttons {
            display: flex;
            justify-content: end;
        }
    }
}

.reminders {
    width: 100%;
}

.reminders-table-heading {
    display: flex;
    justify-content: space-between;
}