<!-- 
    Name
    Wait for acknowledgement
    Auto Acknowledge

    Seconds since last reminder
    Seconds left till next reminder

    Active (toggle)

    Edit or elipsis for actions
 -->
<table class="reminders" mat-table [dataSource]="myDataArray">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.name}}</td>
    </ng-container>

    <ng-container matColumnDef="timeoutDuration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.timeoutDuration | duration}}</td>
    </ng-container>

    <ng-container matColumnDef="waitForAkng">
        <th mat-header-cell *matHeaderCellDef>Wait for Akng</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.waitForAkng ? "Yes" : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="autoAkng">
        <th mat-header-cell *matHeaderCellDef>Auto Akng</th>
        <td mat-cell *matCellDef="let reminder">
            {{reminder.waitForAkng ? (reminder.autoAkngTimeoutDuration | duration) : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="secondsSince">
        <th mat-header-cell *matHeaderCellDef>Last Notify</th>
        <td mat-cell *matCellDef="let reminder">
            {{reminder.isActive() ? (reminder.secondsSince | duration) : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="secondsLeft">
        <th mat-header-cell *matHeaderCellDef>Next Notify</th>
        <td mat-cell *matCellDef="let reminder">
            {{reminder.isActive() ? (reminder.secondsLeft | duration) : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="secondsTillAutoAkng">
        <th mat-header-cell *matHeaderCellDef>Auto Akng</th>
        <td mat-cell *matCellDef="let reminder">
            {{reminder.isActive() ? (reminder.secondsTillAutoAkng | duration) : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let reminder">
            <mat-slide-toggle [checked]="reminder.isActive()" (change)="activeToggled(reminder)"></mat-slide-toggle>
        </td>
    </ng-container>

    <ng-container matColumnDef="config">
        <th mat-header-cell *matHeaderCellDef>Config</th>
        <td mat-cell *matCellDef="let reminder">
            <mat-icon aria-hidden="false" aria-label="Configure Reminder">settings</mat-icon>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>