<!-- 
    Name
    Wait for acknowledgement
    Auto Acknowledge

    Seconds since last reminder
    Seconds left till next reminder

    Active (toggle)

    Edit or elipsis for actions
 -->
<table class="reminders" mat-table [dataSource]="myDataArray">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.name}}</td>
    </ng-container>

    <ng-container matColumnDef="timeoutDuration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.timeoutDuration}}</td>
    </ng-container>

    <ng-container matColumnDef="waitForAkng">
        <th mat-header-cell *matHeaderCellDef>Wait for Acknowledgement</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.waitForAkng ? "Yes" : ""}}</td>
    </ng-container>



    <ng-container matColumnDef="autoAkng">
        <th mat-header-cell *matHeaderCellDef>Auto Acknowledge</th>
        <td mat-cell *matCellDef="let reminder">{{reminder.waitForAkng ? reminder.autoAkngTimeoutDuration : ""}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let reminder">
            <mat-slide-toggle [checked]="reminder.isActive()" (change)="activeToggled(reminder)"></mat-slide-toggle>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>