<router-outlet></router-outlet>
<form #myForm="ngForm">
  <!-- Simple Interval Reminder -->
  <!-- <p>
    Play this message:
    <input type="text" [(ngModel)]="simpleIntervalMessage" name="simpleIntervalMessage">
    every
    <input type="number" [(ngModel)]="simpleIntervalSeconds" name="simpleIntervalSeconds">
    seconds.
    <button type="button"
      (click)="simpleIntervalReminder(!simpleIntervalEnabled)">{{simpleIntervalEnabled ? 'Enabled' : 'Disabled'}}</button>
  </p> -->

  <p>
    Fixed Period Repeating Reminder
    <button type="button" (click)="toggleFixedPeriodRepeatingReminder()">
      {{fixedPeriodRepeatingReminder.isActive() ? "Deactivate" : "Activate"}}
    </button>
  </p>
</form>