<div class="app-header mat-elevation-z6">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="app-header__title">Ostinato</span>
            <a routerLink="dashboard" mat-button color="link">
                <!-- <mat-icon>dashboard</mat-icon> -->
                <span>Dashboard</span>
            </a>
            <a routerLink="manager" mat-button color="link">
                <!-- <mat-icon>edit</mat-icon> -->
                <span>Manager</span>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="content">
    <div class="pull-up">
        <div class="content-header">
            <mat-toolbar color="primary">
                <h1 class="content-header__text">{{contentHeaderText}}</h1>
            </mat-toolbar>
        </div>
        <div class="content-body">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer>
        Ostinato
    </footer>
</div>