<h1 mat-dialog-title>{{data.reminder.name}}</h1>
<div mat-dialog-content>
    <p>{{data.reminder.name}}<p>
            <ng-container *ngIf="data.reminder.autoAkng">
                <p>Auto-acknowledging in {{data.reminder.secondsTillAutoAkng}} seconds.</p>
            </ng-container>
</div>
<div mat-dialog-actions>
    <ng-container *ngIf="data.reminder.waitForAkng">
        <button mat-button [mat-dialog-close]="notifyDialogResult.Minimize">Minimize</button>
        <button mat-button [mat-dialog-close]="notifyDialogResult.Acknowledge" cdkFocusInitial>Acknowledge</button>
    </ng-container>
    <ng-container *ngIf="!data.reminder.waitForAkng">
        <button mat-button [mat-dialog-close]>Cool beanz</button>
    </ng-container>
</div>